
<form action="">PERSONAL DATA: <br><br>
    <label for="firstname">FIRST NAME</label><br>
    <input type="text" name="firstname" placeholder="First Name"><br><br>
    <label for="Othernames">OTHER NAMES</label><br>
    <input type="text" name="othernames" placeholder="Other Names"><br><br>
    <label for="email">EMAIL</label><br>
    <input type="text" name="email" placeholder="Example@gmail.com"><br><br>
    <label for="Gender">GENDER</label><br>
    <label id="label1" for="resize">Male</label>
    <input type="radio" id="male">
    <label id="label1" for="resize">Female</label>
    <input type="radio" id="female" checked> <br><br>
    <label for="maritalstatues">MARITAL STATUES</label><br>
    <label id="label1" for="Single">Single</label>
    <input type="radio" name="maritalstatues" id="Single" value="single">
    <label id="label1" for="Married">Married</label>
    <input type="radio" name="maritalstatus" id="Married" value="married" checked><br><br>
    <label for="Mobilenumber">MOBILE NUMBER</label><br>
    <input type="number" name="mobilenumber" placeholder="08000000000"><br><br>
    <label id="label1" for="creationDate">DATE OF BIRTH</label><br>
    <input type="date" id="CreationDate"><br><br>
    <label for="Hobbies">HOBBIES</label><br>
    <label id="label1" for="resize">playing video games</label>
    <input type="checkbox" id="resize"/>
    <label id="label1" for="resize">cooking</label>
    <input type="checkbox" id="resize"/><br>
    <label id="label1" for="resize">listening to music</label>
    <input type="checkbox" id="resize"/>
    <label id="label1" for="resize">dancing</label>
    <input type="checkbox" id="resize"/>
    <label id="label1" for="resize">Reading Novel</label>
    <input type="checkbox" id="resize"/><br><br>

    <input type="submit" name="" id="" value="Submit">
    

    
    



</form>  