<div class="destination">
    <div class="desbx">
        <h4><i>You can also reach us in;</i></h4> <br><br>
        <li>Lagos</li>
        <li>Akwa Ibom</li>
        <li>River</li>
        <li>Abuja</li>
        <li>Aba</li>
        <h6> included: waybill</h6>
        <button>MORE INFO</button>
    </div>
    <div class="imgbx">
        <img src="../assets/img/tailorshop.png" alt="">
        <div class="msg">
            <img src="../assets/img/VICKY.jpg" alt="">
            <div class="cont">
                <h4>meet us</h4>
                <div class="icon">
                    <i class="bi bi-heart-fill"><span>12345</span></i> 
                    <i class="bi bi-chat-fill"><span>4567</span></i>
                </div>
            </div> 
        </div>
        <div class="msg">
            <img src="../assets/img/images999999.jpg" alt="">
            <div class="cont">
                <h4>hhhhhhhhm</h4>
                <div class="icon">
                    <i class="bi bi-heart-fill"><span>12345</span></i> 
                    <i class="bi bi-chat-fill"><span>4567</span></i>
                </div>
            </div> 
        </div>
    </div>
</div> 