<header>
    <!--navbar start here-->
    <nav>
      <div class="image">
        <img src="../assets/img/fashionlogo2.png" alt="">
      </div>
      <ul id="menu_bx">
        <li><a href="">HOME</a></li>
        <li><a href="">SERVICES</a></li>
        <li><a href="">ABOUT</a></li>
        <li><a href="">NEWS</a></li>
        <li><a href="">HELP</a></li>
        <li><a href="">SIGN UP</a></li>
      </ul>
      <i class="bi bi-three-dots"></i>
    </nav>
    <div class="content" >
      <div class="mainbox">
        <h1><i>WELCOME TO VICKY'S FASHION HOUSE</i></h1>
        <p><b>We are here to serve you with the lastest fashion styles that give you more confidence to slay that occassion</b></p>
        <button>REGISTER</button>
      </div>
      <div class="trip_bx">
        <div class="searchbx">
          <div class="card">
            <h4>location<i class="bi bi-caret-down-fill"></i></h4>
            <input type="text" placeholder="Enter your details">
          </div> 
          <div class="card">
            <h4>date<i class="bi bi-caret-down-fill"></i></h4>
            <input type="date" >
          </div> 
          <div class="card">
            <h4>phone number<i class="bi bi-caret-down-fill"></i></h4>
            <input type="number" placeholder="contact details">
          </div>
          <input type="button" value="explore now">
        </div>
        <div class="fashion">
          <h4>Different styles to wear for that occassion</h4>
          <div class="cards">
            <div class="card">
              <h3>Indian Goerge</h3>
              <img src="../assets/img/beauty.jpg" alt="">
              <div class="btncity">
                <a href="">see more</a>
                <h5>hotasoebi <br> <span>#15000</span></h5>
              </div>
            </div>
            <div class="card">
              <h3>lace</h3>
              <img src="../assets/img/beauty2.jpg" alt="">
              <div class="btncity">
                <a href="">see more</a>
                <h5>hotasoebi <br> <span>#15000</span></h5>
              </div>
            </div>
            <div class="card">
              <h3>ankara</h3>
              <img src="../assets/img/beauty3.jpg" alt="">
              <div class="btncity">
                <a href="">see more</a>
                <h5>hotasoebi <br> <span>#15000</span></h5>
              </div>
            </div>
            <div class="card">
              <h3>other materials</h3>
              <img src="../assets/img/beauty4.jpg" alt="">
              <div class="btncity">
                <a href="">see more</a>
                <h5>hotasoebi <br> <span>#15000</span></h5>
              </div>
            </div>
          </div>

        </div>

      </div>

    </div>
  </header>