<div class="offers">
    <h1>Best packages for you</h1>
    <p>choose the best style of dress you want</p>
    <div class="cards">
        <div class="card">
            <h3>Corset Style</h3>
            <div class="imgtext">
                <img src="../assets/img/wedding1.jpg" alt="">
                <h4>include: Service charges and accesories </h4>
            </div>
            <div class="contbx">
                <div class="price">
                    <div class="heartchat">
                        <i class="bi bi-heart-fill"><span>2000</span></i> 
                        <i class="bi bi-chat-fill"><span>2000</span></i>
                    </div>
                    <div class="infoprice">
                        <a href="">more info</a>
                        <h4><strike>N</strike>40000</h4>
                    </div>
                </div>
                <div class="days">14 days <br> to deliver</div>
            </div>
        </div>
   
        <div class="card">
            <h3>Gowns</h3>
            <div class="imgtext">
                <img src="../assets/img/wedding2.jpg" alt="">
                <h4>include: Service charges and accesories </h4>
            </div>
            <div class="contbx">
                <div class="price">
                    <div class="heartchat">
                        <i class="bi bi-heart-fill"><span>2000</span></i> 
                        <i class="bi bi-chat-fill"><span>2000</span></i>
                    </div>
                    <div class="infoprice">
                        <a href="">more info</a>
                        <h4><strike>N</strike>25000</h4>
                    </div>
                </div>
                <div class="days">5 days <br> to deliver</div>
            </div>  
        </div>
        <div class="card">
            <h3>Skirt & Blouse</h3>
            <div class="imgtext">
                <img src="../assets/img/wedding3.jpg" alt="">
                <h4>include: Service charges and accesories </h4>
            </div>
            <div class="contbx">
                <div class="price">
                    <div class="heartchat">
                        <i class="bi bi-heart-fill"><span>2000</span></i> 
                        <i class="bi bi-chat-fill"><span>2000</span></i>
                    </div>
                    <div class="infoprice">
                        <a href="">more info</a>
                        <h4><strike>N</strike>30000</h4>
                    </div>
                </div>
                <div class="days">5 days <br> to deliver</div>
            </div>
        </div>
        <div class="card">
            <h3>Bridal Gown</h3>
            <div class="imgtext">
                <img src="../assets/img/wedding4.jpg" alt="">
                <h4>include: Service charges and accesories </h4>
            </div>
            <div class="contbx">
                <div class="price">
                    <div class="heartchat">
                        <i class="bi bi-heart-fill"><span>12345</span></i> 
                        <i class="bi bi-chat-fill"><span>4567</span></i>
                    </div>
                    <div class="infoprice">
                        <a href="">more info</a>
                        <h4><strike>N</strike> 28000</h4>
                    </div>
                </div>
                <div class="days">7 days <br> to deliver</div>
            </div>
        </div>
    </div>  
</div>